<?xml version="1.0" encoding="utf-8"?>
<ArrayOfResData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<ResData>
		<ResId>1001</ResId>
		<Restype>1</Restype>
		<showName>flower</showName>
		<color>e7b4ed</color>
	</ResData>
	<ResData>
		<ResId>1002</ResId>
		<Restype>1</Restype>
		<showName>cucumber</showName>
		<color>c2ef7e</color>
	</ResData>
	<ResData>
		<ResId>1003</ResId>
		<Restype>1</Restype>
		<showName>strawberry</showName>
		<color>feabcd</color>
	</ResData>
	<ResData>
		<ResId>1004</ResId>
		<Restype>1</Restype>
		<showName>orange</showName>
		<color>f38615</color>
	</ResData>
	<ResData>
		<ResId>1005</ResId>
		<Restype>1</Restype>
		<showName>carrot</showName>
		<color>fcad7a</color>
	</ResData>
	<ResData>
		<ResId>1006</ResId>
		<Restype>1</Restype>
		<showName>banana</showName>
		<color>fee378</color>
	</ResData>
	<ResData>
		<ResId>1007</ResId>
		<Restype>1</Restype>
		<showName>leaf</showName>
		<color>aae949</color>
	</ResData>
	<ResData>
		<ResId>1008</ResId>
		<Restype>1</Restype>
		<showName>watermelon</showName>
		<color>fd8679</color>
	</ResData>
	<ResData>
		<ResId>1009</ResId>
		<Restype>1</Restype>
		<showName>potato</showName>
		<color>fad37c</color>
	</ResData>
	<ResData>
		<ResId>2001</ResId>
		<Restype>2</Restype>
		<showName>strawberry</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>2002</ResId>
		<Restype>2</Restype>
		<showName>honey</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>2003</ResId>
		<Restype>2</Restype>
		<showName>zong</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>2004</ResId>
		<Restype>2</Restype>
		<showName>milk</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>3001</ResId>
		<Restype>3</Restype>
		<showName>huazhuangshua</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>3002</ResId>
		<Restype>3</Restype>
		<showName>maoshua</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>3003</ResId>
		<Restype>3</Restype>
		<showName>gang</showName>
		<color>FFFFFF</color>
	</ResData>
	<ResData>
		<ResId>4001</ResId>
		<Restype>4</Restype>
		<showName>toiletWater</showName>
		<color>FFFFFF</color>
	</ResData>
</ArrayOfResData>